body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 2rem;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #ce6ada;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #482269;
}

button:active {
    background-color: #e1ef28;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #bfbfbf;
}

th {
    background-color: #4c56af;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    color: #555;
}

@media (max-width: 600px) {
    button {
        width: 100%;
        margin-bottom: 10px;
    }
}
